In [2]:
print('hello world')
      
     # print is function in python 3

hello world

In [3]:
84/2

42.0

In [4]:
type(2)
type(42.0)

float

In [5]:
type('hello')

str

In [6]:
type('2')

str

In [7]:
type('42.0')

str

In [9]:
x= 1,10,11
type(x)

tuple

In [11]:
xx = 1,000,000
type(xx)

tuple

In [ ]:
-2

In [12]:
2++2

4

In [ ]:
00002

In [ ]:
09

In [ ]:
2 2

In [13]:
2+++4

6

In [14]:
2**4

16

In [15]:
16---3

13

In [16]:
2***4

SyntaxError: invalid syntax (<ipython-input-16-7efaa6a1e20a>, line 1)

In [18]:
n = 17.3

In [19]:
type(n)

float

In [20]:
'aaa' + 'bbb' + 'ccc'

'aaabbbccc'

In [21]:
'aaa'*3
#you cannot do / and -

'aaaaaaaaa'

In [22]:
42 = n

SyntaxError: can't assign to literal (<ipython-input-22-f0c37ed646fc>, line 1)

In [23]:
x = y =  1

In [24]:
x

1

In [25]:
y

1

In [26]:
n = 42;

In [27]:
n

42

In [28]:
n = 42.

In [29]:
n

42.0

In [30]:
print(n);

42.0

In [31]:
print(n).

SyntaxError: invalid syntax (<ipython-input-31-a1ec82039738>, line 1)

In [32]:
import math

In [33]:
math.sqrt(4)

2.0

In [34]:
vinny()

NameError: name 'vinny' is not defined

In [35]:
def vinny():
    print('Rajat')
    print('weds')
    print('Vinny')

In [36]:
vinny

In [37]:
vinny()

Rajat
weds
Vinny

In [38]:
print(vinny)

<function vinny at 0x0000029A63D78400>

In [39]:
print(vinny())

Rajat
weds
Vinny
None

In [40]:
type(vinny)

function

In [ ]:
rajat()

In [ ]:
def f1():
    f2()

In [ ]:
def f2():
    print("2f")

In [ ]:
f1()

In [ ]:
def print_twice(x):
    print(x)
    print(x)

In [ ]:
print_twice(5)

In [ ]:
print_twice('spam')

In [ ]:
print('+',end = '')
print('----',end = '')
print('+',end = '')
print('----',end = '')
print('+')
print('|',' '*3,end='')
print('|',' '*3,end='')
print('|')
print('|',' '*3,end='')
print('|',' '*3,end='')
print('|')
print('|',' '*3,end='')
print('|',' '*3,end='')
print('|')
print('+',end = '')
print('----',end = '')
print('+',end = '')
print('----',end = '')
print('+')
print('|',' '*3,end='')
print('|',' '*3,end='')
print('|')
print('|',' '*3,end='')
print('|',' '*3,end='')
print('|')
print('|',' '*3,end='')
print('|',' '*3,end='')
print('|')
print('+',end = '')
print('----',end = '')
print('+',end = '')
print('----',end = '')
print('+')

In [ ]:
import turtle
bob = turtle.Turtle()
angle = 360/100
for i in range(100):
    bob.fd(30)
    bob.lt(angle)
    
turtle.mainloop()

In [ ]:
import math
import turtle
bob = turtle.Turtle()

def circle(t,r):
    circum = 2*math.pi*r
    n=50
    length = circum/50
    angle = 360/50
    for i in range(50):
        t.fd(circum)
        t.lt(angle)
        
        
circle(bob,3)
turtle.mainloop()

In [41]:
100//45

2

In [42]:
100//89

1

In [43]:
100%4

0

In [1]:
def rec(n):
    if(n <= 0):
        print("BlastOFF!")
    else:
        print(n)
        rec(n-1)
        
        
rec(5)

5
4
3
2
1
BlastOFF!

In [44]:
text = input()

rajat vinny rajat

In [45]:
text

'rajat vinny rajat'

text1 = input("whar are you waiting for?\n")

In [47]:
# factorial
def factorial(n):
    if(n < 0):
        print('Factorial not defined for -ve')
        return None
    elif not isinstance(n,int):
        print('n is not int')
        return None
    elif n == 0 or n == 1:
        return 1
    else:
        rec = factorial(n-1)
        return rec * n
    
factorial(5)

120

In [48]:
#fib
def fib(n):
    if(n < 0):
        print('Factorial not defined for -ve')
        return None
    elif not isinstance(n,int):
        print('n is not int')
        return None
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
    
fib(9.8)

n is not int

In [ ]:
#right side is evaluated first
x = x + 1

In [ ]:
y = 4
y = y+1

In [ ]:
y

In [ ]:
#while statement

def func(n):
    while(n > 0):
        print(n)
        n = n-1
    print('BlastOff')
    
func(8)

In [ ]:
while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)

In [2]:
a = 4
x = 3
eps = .0000001

while(True):
    print(x)
    y = (x + a/x)/2
    if abs(y-x) < eps:
        break
    x = y

3
2.1666666666666665
2.0064102564102564
2.0000102400262145
2.0000000000262146

In [6]:
fruit = 'banana'
letter = fruit[0]

In [7]:
letter

'b'

In [9]:
len(fruit)

6

In [10]:
fruit[len(fruit)-1]

'a'

In [12]:
fruit[-3]

'a'

In [15]:
index = len(fruit)-1
while index >= 0:
    print(fruit[index])
    index = index -1

a
n
a
n
a
b

In [16]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'

for letter in prefixes:
    print(letter + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [20]:
name = 'rajat weds vinny'
name[6:16]

'weds vinny'

In [21]:
len(name)

16

In [23]:
name[5:]

' weds vinny'

In [24]:
name[:13]

'rajat weds vi'

In [25]:
name[:]

'rajat weds vinny'

In [27]:
name[:]

'rajat weds vinny'

In [29]:
name = 'hello world'
name[0] = 'J'

TypeError: 'str' object does not support item assignment

In [30]:
'J' + name[1:]

'Jello world'

In [31]:
word = 'banana'
new_word = word.upper()
new_word

'BANANA'

In [32]:
len(word)

6

In [33]:
word.find('a')

1

In [35]:
word.find('na',3)

4

In [39]:
for i in word[1:4]:
    print (i)

a
n
a

In [42]:
word1 = 'apples'
word2 = 'oranges'

def inter(word1,word2):
    for i in word1:
        if i not in word2:
            print(i)
            
inter(word1,word2)

p
p
l

In [46]:
word = 'vInny'

if word < 'vinnY':
    print('word comes before rajat')
elif word > 'vinnY':
    print('word comes after rajat')

word comes before rajat

In [47]:
for i in range(0,5,2):
    print(i)

0
2
4

In [48]:
'c'.islower()

True

In [1]:
arr = [1,2,3,4]
arr[2]

3

In [2]:
arr[2]=111

In [3]:
arr[2]

111

In [4]:
111 in arr

True

In [5]:
for i in range(len(arr)):
    print (arr[i])

1
2
111
4

In [6]:
arr

[1, 2, 111, 4]

In [7]:
arr * 2

[1, 2, 111, 4, 1, 2, 111, 4]

In [8]:
arr

[1, 2, 111, 4]

In [10]:
'c'.upper()

'C'

In [13]:
t = ['a','b','c']
def fun(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [14]:
fun(t)

['A', 'B', 'C']

In [15]:
t

['a', 'b', 'c']

In [16]:
t.append('d')

In [17]:
t.append('e')

In [18]:
t

['a', 'b', 'c', 'd', 'e']

In [19]:
t.pop()

'e'

In [20]:
t

['a', 'b', 'c', 'd']

In [21]:
t.pop(3)

'd'

In [22]:
t

['a', 'b', 'c']

In [23]:
del t[1]

In [24]:
t

['a', 'c']

In [25]:
t.remove('a')

In [26]:
t

['c']

In [27]:
t = ['a','b','c','d','e','f']

In [28]:
del t[2:4]

In [29]:
t

['a', 'b', 'e', 'f']

In [30]:
s = 'spam'
aa = list(s)

In [31]:
aa

['s', 'p', 'a', 'm']

In [32]:
s = 'spam of words are rruth'

In [33]:
s.split()

['spam', 'of', 'words', 'are', 'rruth']

In [35]:
s = 'frutie-tutie-mrutie'
delimiter = '-'
s.split(delimiter)

['frutie', 'tutie', 'mrutie']

In [36]:
arr = ['rajat','weds','vinny']
delimiter = '-'
new_word = delimiter.join(arr)

In [37]:
new_word

'rajat-weds-vinny'

In [38]:
a = 'rajat'
b = 'rajat'

a is b

True

In [39]:
a = [1,2,3,4]
b = [1,2,3,4]
a is b

#objects and value are different

False

In [40]:
#alias

a = [1,2,3]
b = a
b

[1, 2, 3]

In [41]:
b is a

True

In [42]:
a[1] = 777

In [43]:
b

[1, 777, 3]

In [44]:
#here original is altered
arr = [1,2,3,4,5]

def del_list(t):
    t.pop()

del_list(arr)

In [45]:
arr

[1, 2, 3, 4]

In [48]:
#here original is not altered

def fu(t):
    t = t[1:]
    print(t)

fu(arr)

[2, 3, 4]

In [49]:
arr

[1, 2, 3, 4]

In [50]:
dir = dict()

In [51]:
dir

{}

In [52]:
dir['one'] = 'rajat'

In [53]:
dir

{'one': 'rajat'}

In [56]:
dir['two'] = 'weds'

dir

In [57]:
dir

{'one': 'rajat', 'two': 'weds'}

In [58]:
dir['three'] = 'vinny'

In [59]:
dir

{'one': 'rajat', 'two': 'weds', 'three': 'vinny'}

In [60]:
dir = {1:'a',2:'b',3:'c'}

In [61]:
dir

{1: 'a', 2: 'b', 3: 'c'}

In [62]:
value = dir.values()
value

dict_values(['a', 'b', 'c'])

In [64]:
'a' in value

True

In [65]:
'a' in dir

False

In [66]:
1 in dir

True

In [67]:
ord('a')

97

In [69]:
ord('A')

65

In [70]:
ord('ab')

TypeError: ord() expected a character, but string of length 2 found

In [71]:
s = 'My name is rajat. I love python. My interview is with nvidia on friday'

def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d

histogram(s)

{'M': 2,
 'y': 4,
 ' ': 13,
 'n': 5,
 'a': 5,
 'm': 1,
 'e': 4,
 'i': 8,
 's': 2,
 'r': 3,
 'j': 1,
 't': 4,
 '.': 2,
 'I': 1,
 'l': 1,
 'o': 3,
 'v': 3,
 'p': 1,
 'h': 2,
 'w': 2,
 'd': 2,
 'f': 1}

In [7]:
d = {'a':2,'z':4,'c':9,'x':99}
d.get('b',0)

0

In [8]:
for c in d:
    print(c,d[c])

a 2
z 4
c 9
x 99

In [9]:
for c in sorted(d):
    print(c,d[c])

a 2
c 9
x 99
z 4

TypeError: 'dict' object is not callable

In [49]:
d = {'a':4,'b':4,'c':2,'d':2,'e':5}

In [50]:
invert_dict = {0:'z'}

def invert(d):
    for k in d:
        if d[k] not in invert_dict:
            invert_dict[d[k]] = [k]
        else:
            invert_dict[d[k]].append(k)
    return invert_dict

In [52]:
invert(d)
invert_dict

{0: 'z', 4: ['a', 'b'], 2: ['c', 'd'], 5: ['e']}

In [38]:
invert(d)

{0: 'z', 4: ['a', 'b'], 2: ['c', 'd'], 5: ['e']}

TypeError: 'dict' object is not callable

In [41]:
d = {0:0,1:1}

def fib(n):
    if n in d:
        return d[n]
    
    res = fib(n-1) + fib(n-2)
    d[n] = res
    return res

fib(8)

21

In [1]:
t = 'a','aa','aaa'

In [2]:
type(t)

tuple

In [3]:
t = ('a','b','c')

In [4]:
type(t)

tuple

In [5]:
tt = tuple(t)

In [6]:
tt

('a', 'b', 'c')

In [7]:
[1,2,3] > [4,5,6]

False

In [8]:
a = 10
b = 99

In [10]:
a,b = b,a

In [11]:
a

99

In [13]:
addr = 'rajatjain0807@gmail.com'
first,second = addr.split('@')

In [14]:
first

'rajatjain0807'

In [15]:
second

'gmail.com'

In [16]:
t = divmod(16,4)

In [17]:
t

(4, 0)

In [18]:
quot,rem = divmod(15,7)

In [19]:
quot

2

In [20]:
rem

1

In [21]:
t = [1,2,3,4,5,66]

In [22]:
def min_max(t):
    return min(t), max(t)
min_max(t)

(1, 66)

In [1]:
def p(* args):
    print(args)

p(1,'abc')

(1, 'abc')

In [2]:
p(1,2,3,'abc',)

(1, 2, 3, 'abc')

In [3]:
divmod(7,2)

(3, 1)

In [4]:
t = (7,2)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [5]:
divmod(*t)

(3, 1)

In [11]:
a = 'abcd'
b = [1,2,3,4]
c = {11:1,22:2,33:3}

for p in zip(a,b):
    print(p)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [8]:
list(zip(a,b,c))

[('a', 1, 11), ('b', 2, 22), ('c', 3, 33)]

In [10]:
#list of tuples
ll = [('a',0),('b',1),('c',2),('d',3)]

for i,j in ll:
    print(i,j)

a 0
b 1
c 2
d 3